<div class="row">
	<div class="col-lg-12">
		<p ng-if="!user">
			You are not yet logged in!
		</p>
		<div ng-if="user">
			<h2>My Errand History</h2>
		</div>
	</div>
</div>
<div class="row">
	<table class="table table-striped">
		<tr>
			<th>Order</th>
			<th>Created At</th>
			<th>Runner</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="req in requests">
			<td>{{req.get('order')}}</td>
			<td>{{req.createdAt}}</td>
			<td>{{req.get('runner')}}</td>
			<td>
				<button ng-if="req.get('status')=='open'" ng-click="cancelreq(req)" class="btn btn-primary">Cancel</button>
				<button class="btn btn-danger" ng-click="flagreq(req)">Report A Problem</button>
			</td>
		</tr>
	</table>
</div>